body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


hr {
    width : 500px;
}


#board {
    width: 405px;
    height: 400px;
    background-color: #cdc1b5;
    border-left: 2px solid #bbada0;
/*    border: 4px solid #bbada0;*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;    
}


.tile {
    width: 90px;
    height: 90px;
    border: 6px solid #bbada0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

/* ---------------  */

/*
    .x2 {
        background-color: #eee4da;
        color: #727371; 
    }
                
    .x4 {
        background-color: #ece0ca;
        color: #727371;
    }
                
    .x8 {
        background-color: #f4b17a;
        color: white;
    }
                
    .x16 {
        background-color: #f59575;
        color: white;
    }
                
    .x32 {
        background-color: #f57c5f;
        color: white;
    }
                
    .x64 {
        background-color: #f65d3b;
        color: white;
    }
                
    .x128 {
        background-color: #edce71;
        color: white;
    }
                
    .x256 {
        background-color: #edcc63;
        color: white;
    }
                
    .x512 {
        background-color: #edc651;
        color: white;
    }
                
    .x1024 {
        background-color: #eec744;
        color: white;
    }
                
    .x2048 {
        background-color: #eec230;
        color: white;
    }
                
    .x4096 {
        background-color: #fe3d3d;
        color: white;
    }
                
    .x8192 {
        background-color: #ff2020;
        color: white;
    }
*/

.x2 {
    color: rgba(0, 0, 0, 0); 
    background-color: #eee4da;
    background-image: var(--background-image-url-02);
    background-size: 100% 100%;
}

.x4 {
    color: rgba(0, 0, 0, 0); 
    background-color: #ece0ca;
    background-image: var(--background-image-url-04);
    background-size: 100% 100%;
}

.x8 {
    color: rgba(0, 0, 0, 0); 
    background-color: #f4b17a;
    background-image: var(--background-image-url-08);
    background-size: 100% 100%;
}

.x16 {
    color: rgba(0, 0, 0, 0); 
    background-color: #f59575;
    background-image: var(--background-image-url-16);
    background-size: 100% 100%;
}

.x32 {
    color: rgba(0, 0, 0, 0); 
    background-color: #f57c5f;
    background-image: var(--background-image-url-32);
    background-size: 100% 100%;
}

.x64 {
    color: rgba(0, 0, 0, 0);
    background-color: #f65d3b;
    background-image: var(--background-image-url-64);
    background-size: 100% 100%;
}

.x128 {
    color: rgba(0, 0, 0, 0); 
    background-color: #edce71;
    background-image: var(--background-image-url-128);
    background-size: 100% 100%;
}

.x256 {
    color: rgba(0, 0, 0, 0); 
    background-color: #edcc63;
    background-image:var(--background-image-url-256);
    background-size: 100% 100%;
}

.x512 {
    color: rgba(0, 0, 0, 0); 
    background-color: #edc651;
    background-image: var(--background-image-url-512);
    background-size: 100% 100%;
}

.x1024 {
    color: rgba(0, 0, 0, 0); 
    background-color: #eec744;
    background-image: var(--background-image-url-1024);
    background-size: 100% 100%;
}

.x2048 {
    color: rgba(0, 0, 0, 0); 
    background-color: #eec230;
    background-image: var(--background-image-url-2048);
    background-size: 100% 100%;
}

.x4096 {
    color: rgba(0, 0, 0, 0); 
    background-color: #fe3d3d;
    background-image: var(--background-image-url-4096);
    background-size: 100% 100%;
}

.x8192 {
    color: rgba(0, 0, 0, 0); 
    background-color: #ff2020;
    background-image: var(--background-image-url-8192);
    background-size: 100% 100%;
}

/* animation */

@keyframes slide-from-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes slide-from-top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes slide-from-bottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}


:root {
    --background-image-url-02: url('./images/01-zuitt_2.png');
    --background-image-url-04: url('./images/02-zuitt_4.png');
    --background-image-url-08: url('./images/03-zuitt_8.png');
    --background-image-url-16: url('./images/04-zuitt_16.png');
    --background-image-url-32: url('./images/05-zuitt_32.png');
    --background-image-url-64: url('./images/06-zuitt_64.png');
    --background-image-url-128: url('./images/07-zuitt_128.png');
    --background-image-url-256: url('./images/08-zuitt_256.png');
    --background-image-url-512: url('./images/09-zuitt_512.png');
    --background-image-url-1024: url('./images/10-zuitt_1024.png');
    --background-image-url-2048: url('./images/11-zuitt_2048.png');
    --background-image-url-4096: url('./images/12-zuitt_4096.png');
    --background-image-url-8192: url('./images/13-zuitt_8192.png');
}


/* DISPLAY FLEXIBILITY TO OTHER DEVICES */

@media (max-width: 415px) {
    #board {
        margin-top:8px;
        width: 90vw;
        max-width: 400px;
        height: 90vw;
        max-height: 400px;
    }

    .tile {
        box-sizing: border-box;
        width: 25%;
        height: 25%;
        }
    h1 {
        font-size: 39px;
        font-weight: 700;
    }
}


/* SHARE FEATURE DESIGN */
.header-container {
    display: flex;
    justify-content:center;
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items:flex-start;
}

.score-container, .share-button-container {
/*    display: flex;
    flex-direction: column;*/
    width: 50%;
    height: 57px;
    font-weight: 600;
}
/*
.score-container {
    display: flex;
    align-items: flex-start;
    justify-content: baseline;
}

.share-button-container {
    align-items: flex-end;
    justify-content: end;
    background-color: grey;
}

#score {
    font-weight: bold;
    font-size: 26px;
    display: flex;
    align-items: flex-start;
    justify-content:center;
}

.share-label, .score-label {
    margin-bottom: 2px;
}

.share-icons{
    display: flex;
}

.share-button-container a img{

    height: auto;
    margin-left: 5px;

}
*/

.share-button-container {
    width: 97vw;
/*    background-color: grey;*/
}


.share-label{
    height:50px;

}

.share-button-container img{
    position:relative;
    top: 3px;
    height: 20px;
}